@media (max-width: 1000px) {
    header {
        /* Меняем оси шапки, делая её вертикальной. */
        flex-direction: column;

        /* Выравнивание элементов шапки с начала (по левому краю). */
        align-items: flex-start;
    }
}

/*body  {
    background: url("https://scontent.fdnk1-2.fna.fbcdn.net/v/t1.0-9/44315812_291164601498827_7678737458879528960_n.jpg?_nc_cat=106&_nc_ht=scontent.fdnk1-2.fna&oh=3be204a2169a8a0152678ad321a4484c&oe=5CED1738");
margin: 30px;
}*/
body {
   background-color: white;
}

header {
    /* Включаем режим Flexbox. */
    display: flex;
    border: 1px solid black;
    background: #2979ff;
    /* Выравниваем элементы вертикально по центру. */
    align-items: center;
}

.img-logo {
    position: relative;
    margin: 10px;
    width: 75px;
    height: 75px;
    border-bottom-left-radius: 23px;

    border-top-right-radius: 23px;
}

.href  {
    background: linear-gradient(-45deg, #FEE864, #F5965E);
    color: darkblue;
    text-shadow: -1px -1px white, 1px 1px gray, 2px 2px #7a7a7a, 3px 3px #757575, 4px 4px #707070, 5px 5px #6b6b6b, 6px 6px #666666, 7px 7px #616161, 8px 8px #5c5c5c, 9px 9px #575757, 10px 10px #525252, 11px 11px #4d4d4d, 18px 18px 30px rgba(0, 0, 0, .4), 18px 18px 10px rgba(0, 0, 0, .4);
    font-family: Arial;
}

.header-center li {

    display: inline-block;

}
.header-center a {
    color: white;
    text-decoration: none;
    text-shadow: none;
    background: none;
    margin: 38px;
    font-family:SansSerif ;
    font-size: 18px;
}
.form-control mr-sm-2 {
    position: relative
}
/*contact*/

.map-container-section {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-container-section iframe {
    left:0;
    top:0;
    height:66%;
    width:100%;
    position:absolute;
}
h5 {
    text-align: center;

}
.card {
    background-color: #b3d7ff;

}
.strong {
    color: white;
}



.container {
    width: auto;
    margin: auto;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    padding: 0 0 50px;
}

.animate {
    font-size: 50px;
    margin: 100px 0 0;
    border-bottom: 2px solid #ccc;
}

.animate span {
    display: inline-block;
}

a.repeat {
    display: inline-block;
    font-size: 12px;
    text-transform: none;
    text-decoration: none;
    color: orange;
    padding: 5px 12px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    font-weight: normal;
    margin: 0 0 0 50px;
    border-radius: 3px;
    position: relative;
    bottom: 15px;
}

a.repeat:hover {
    background: rgba(0, 0, 0, 0.7);
    color: white;
}

.animate span:nth-of-type(2) {
    animation-delay: .05s;
}
.animate span:nth-of-type(3) {
    animation-delay: .1s;
}
.animate span:nth-of-type(4) {
    animation-delay: .15s;
}
.animate span:nth-of-type(5) {
    animation-delay: .2s;
}
.animate span:nth-of-type(6) {
    animation-delay: .25s;
}
.animate span:nth-of-type(7) {
    animation-delay: .3s;
}
.animate span:nth-of-type(8) {
    animation-delay: .35s;
}
.animate span:nth-of-type(9) {
    animation-delay: .4s;
}
.animate span:nth-of-type(10) {
    animation-delay: .45s;
}
.animate span:nth-of-type(11) {
    animation-delay: .5s;
}
.animate span:nth-of-type(12) {
    animation-delay: .55s;
}
.animate span:nth-of-type(13) {
    animation-delay: .6s;
}
.animate span:nth-of-type(14) {
    animation-delay: .65s;
}
.animate span:nth-of-type(15) {
    animation-delay: .7s;
}
.animate span:nth-of-type(16) {
    animation-delay: .75s;
}
.animate span:nth-of-type(17) {
    animation-delay: .8s;
}
.animate span:nth-of-type(18) {
    animation-delay: .85s;
}
.animate span:nth-of-type(19) {
    animation-delay: .9s;
}
.animate span:nth-of-type(20) {
    animation-delay: .95s;
}
.one span {
    color: #24a8e6;
    opacity: 0;
    transform: translate(-150px, -50px) rotate(-180deg) scale(3);
    animation: revolveScale .4s forwards;
}

@keyframes revolveScale {
    60% {
        transform: translate(20px, 20px) rotate(30deg) scale(.3);
    }

    100% {
        transform: translate(0) rotate(0) scale(1);
        opacity: 1;
    }
}

